OSISOPReparation/SoftwarePackages/wsusoffline/
OSISOPReparation/SoftwarePackages/adksetup.exe
OSISOPReparation/SoftwarePackages/wsusoffline114.zip
OSISOPReparation/SoftwarePackages/Win7AndW2k8r2-KB3191566-x64.zip
OSISOPReparation/DevState/